@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background: rgb(40, 40, 40);
  color: #fff;
}
.all-users {
  display: flex;
  margin-bottom: 1rem;
}
.single-user {
  background: rgb(0, 213, 255);
  color: #fff;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 10px;
  margin-right: 0.5rem;
  position: relative;
}
.user-card {
  color: #fff;
  position: relative;
  border-bottom: 1px solid rgb(100, 100, 100);
  width: 380px;
}
.user-card .text-content {
  width: 170px;
}
.user-card .name {
  font-weight: 700;
}
.user-card .text,
.user-card .data {
  font-size: 14px;
  color: rgb(180, 180, 180);
}
.user-online {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(0, 219, 0);
  position: absolute;
  top: 7px;
  left: 15px;
  z-index: 2;
}
.chat-container {
  height: calc(100% - 40px);
}
.chat-box {
  width: calc(100vw - 560px);
  height: calc(100vh - 10rem);
  overflow-y: auto;
  background: rgb(25, 25, 25);
  border-radius: 10px;
}
.chat-header {
  background: rgb(31, 30, 30);
}
.notification-time {
  margin-top: 0.2rem;
  font-size: 12px;
  color: #c0c0c0;
}
.notification-count {
  display: flex;
  background: #00bd9b;
  height: 25px;
  width: 25px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -15px;
}
.this-user-notifications {
  display: flex;
  background: #00b9db;
  height: 20px;
  width: 20px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
